<% include ../partials/header %>

<div class="ui container">
  <h1 class="header">
    <a class="ui orange button" href="#">Update Cart</a>
    <% if(currentUser){ %>
      <%=user.username%>'s
    <% } %> Shopping Cart</h1>
    <% if(currentUser){ %>
      <div class="ui items">
        <% user.cart.forEach(function(item, index){ %>
          <div class="item">
            <div class="image">
              <img src="<%= item.image %>">
            </div>
            <div class="content">
              <a class="header"><%= item.name %> </a>
              <div class="description">
                <%= item.description %>
              </div>
              <div class="extra">
                <input type="number" name="quantity" value="<%= user.quantity[index] %>" min="1" max="<%=item.inventory%>">
              </div>
            </div>
          </div>
          <form class="" action="/cart?_method=DELETE" method="POST">
            <input class="display-none" type="text" name="itemIndex" value="<%= index %> "">
            <input type="submit" name="" value="Remove">
          </form>
        <% }) %>
      </div>
    <% } else{
      if(cart){ %>
        <div class="ui items">
          <% cart.items.forEach(function(item, index){ %>
            <div class="item">
              <div class="image">
                <img src="<%= item.image %>">
              </div>
              <div class="content">
                <a class="header"><%= item.name %> </a>
                <div class="description">
                  <%= item.description %>
                </div>
                <div class="extra">
                  <input type="number" name="quantity" value="<%= cart.quantity[index] %>" min="1" max="<%=item.inventory%>">
                </div>
              </div>
            </div>
            <%}); %>
      </div>
      <% }%>

    <% } %>

      <a class="ui green huge button" href="#">Buy Now</a>




</div>


<% include ../partials/footer %>
