<% include ../partials/header %>

    <div class="ui grid container stackable">
      <div class="eight wide column">
        <div class="ui huge image">
          <img src="<%=product.image%>">
        </div>
      </div>
      <div class="eight wide column">
        <div id="main-product-content" class="content">
          <h2 id="product-title" class="ui header">
            <%= product.name %>
          </h2>
          <div id="product-description" class="description">
            <%= product.description %>
          </div>
          <div id="product-description" class="text">
            $ <%= product.price %>
          </div>
          <form action="/cart" method="POST">
            <input class="display-none" type="text" name="product_id" value="<%=product._id%>">
            <input type="number" name="quantity" value="1" min="1" step="1" max="<%= product.inventory %>">
            <button id="add-cart" class="ui large right floated green button">Add to Cart</button>
          </form>

        </div>
      </div>
    </div>



<div id="review-container" class="ui container segment">
  <h4 class="header">Reviews<h4>
  <% if(currentUser){ %>
    <a class="ui pink button" href="/products/<%= product._id %>/reviews/new">Review this Product</a>
  <% } %>
  <hr>
  <div class="ui items vertical segment">
    <% if(product.reviews){
      product.reviews.forEach(function(review){%>
        <div class="ui vertical segment">
          <div class="ui item">
            <div class="content">
              <div class="ui header">
                <%= review.title %>
              </div>
              <div class="meta">
                <% for(let i = 0; i < review.rating - 0.5; i++){ %>
                  <i class=" fas fa-star "> </i>
                <% };
                if(review.rating % 1 !==0){ %>
                  <i class="fas fa-star-half-alt"></i>
                <% } %>
              </div>
              <div class="description">
                <%= review.text %>
              </div>
              <div class="extra">
                <%= review.author.username %> <%= review.created.toDateString() %>
              </div>
              <% if(currentUser && currentUser._id=== review.author.id){ %>
                <a class="ui small basic yellow button" href="/products/<%=product.id%>/reviews/<%= review._id %>/edit">Edit Review</a>

              <% } %>
            </div>
          </div>
        </div>

      <%})
    }%>
  </div>
</div>


<% include ../partials/footer %>
